@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">File Upload Client </h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<div>
    @*<input type="file" id="fileUpload" accept=".png,.jpg" />*@
    <input type="file" id="fileUpload" accept="image/*" />
    <!-- to support All image
        ref: https://stackoverflow.com/questions/4328947/limit-file-format-when-using-input-type-file-->
    <button id="uploadBTN" type="button" value="Upload">Upload</button>
    <div id="output"></div>
    <div class="progress">
        <div class="progress-bar"></div>
    </div>
</div>
<script>

    $(function () {
        $('#uploadBTN').on('click', function () {

            var fd = new FormData();
            fd.append("", fileUpload.files[0]);
            $.ajax({
                xhr: function () {
                    var xhr = new window.XMLHttpRequest();
                    xhr.upload.addEventListener("progress", function (evt) {
                        if (evt.lengthComputable) {
                            var percentComplete = ((evt.loaded / evt.total) * 100);
                            $(".progress-bar").width(percentComplete + '%');
                            $(".progress-bar").html(percentComplete + '%');
                        }
                    }, false);
                    return xhr;
                },

                url: 'https://localhost:8083/UploadAPI/api/FileService/upload',
                type: 'POST',
                mimeType: "multipart/form-data",
                data: fd,
                crossDomain: true,
                success: function (data) {
                    $('#output').html(data);
                },
                beforeSend: function (request) {
                    request.setRequestHeader("clientName", "amazon-santoyo");
                    request.setRequestHeader("fileName", "benny");
                    request.setRequestHeader("branchName", "store-a");
                    $(".progress-bar").width('0%');
                    $('#uploadStatus').html('<img src="images/loading.gif"/>');
                },
                /*
                 Bucket name should conform with DNS requirements:
                    - Should not contain uppercase characters
                    - Should not contain underscores (_)
                    - Should be between 3 and 63 characters long
                    - Should not end with a dash
                    - Cannot contain two, adjacent periods
                    - Cannot contain dashes next to periods (e.g., "my-.bucket.com" and "my.-bucket" are invalid)
                 */
                cache: false,
                contentType: false,
                processData: false
            });

        });
    });

</script>